@import "./ulits/styles/mixins";
@import "./ulits/styles/reset";
@import "./ulits/styles/variables";
@import "./components/index.scss";
@import "./components/ClockSlider/ClockSlider.scss";
@import "./components/HomeNovelties/HomeNovelties.scss";
@import "./components/HomeWatches/HomeWatches.scss";
@import "./components/Header/Header.scss";
@import "./components/SearchInput/SearchInput.scss";
@import "./components/SearchModal/SearchModal.scss";

body {
  width: 100%;
  max-width: 100%;
  background-color: black;
}
