@import "./ulits/styles/mixins";
@import "./ulits/styles/reset";
@import "./ulits/styles/variables";
@import "./components/index.scss";
@import "./components/ClockSlider/ClockSlider.scss";
@import "./components/HomeNovelties/HomeNovelties.scss";
@import "./components/HomeWatches/HomeWatches.scss";
@import "./components/Header/Header.scss";
@import "./components/SearchInput/SearchInput.scss";
@import "./components/SearchModal/SearchModal.scss";

html {
  height: 100%;
}

body {
  width: 100%;
  max-width: 100%;
  background-color: black;
  height: 100%;
  position: relative;
}

#root {
  height: 100%;
}

.full-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
  padding-top: 130px;
}

.hiddenScroll {
  overflow: hidden;
}

@media screen and (min-width: 765px) {
  .main {
    padding-top: 140px;
  }
}

@media screen and (min-width: 1023px) {
  .main {
    padding-top: 75px;
  }
}
