.catalog_container {
  @include flex-container;
  flex-direction: column;
}

@include desktop {
  .catalog_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 1000px;
  }
}
