$desktop-width: 720px;
$color-mobile: black;
$color-desktop: white;
$background-light-mode-1: rgb(230, 228, 220);
$background-light-mode-2: #686868;
$color-light-mode: #fff;
$background-night-mode-1: #001e3c;
$background-night-mode-2: #0e3256;
$background-night-mode-3: #071a2f;
$color-night-mode: #000;
