@import "../../ulits/styles/mixins";

.label {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 5px;
  // color: rgb(0, 0, 0);

  &-sm {
    display: block;
  }
}

.form {
  padding: 22px 10px;

  &__inputs-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
  }

  &__pay-method {
    @include flex-container;
    justify-content: space-around;
    margin-bottom: 30px;
  }
}

.input-item {
  width: 80%;
  border: none;
  border-bottom: 1px solid black;
  padding: 3px;

  &-sm {
    width: 60px;
    display: inline-block;
    margin-right: 3px;
  }

  &-cvv {
    width: 75px;
  }
}

.checkout-btn {
  text-transform: uppercase;
}

.error-box {
  color: red;
  padding: 5px;
}

@media screen and (min-width: 768px) {
  .label {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 0;
    margin-right: 10px;

    &-sm {
      display: block;
    }
  }

  .input-item {
    padding: 2px;
    font-size: 18px;
    &-mob {
      width: 40%;
    }

    border: none;
    border-bottom: 1px solid black;
    padding: 3px;
  }

  .form {
    padding: 50px 20px;
    &__pay-method {
      margin-bottom: 60px;
      justify-content: start;
      gap: 37px;
    }

    &__inputs-item {
      flex-wrap: wrap;
      flex-direction: row;
    }
  }

  .error-box {
    width: 100%;
    color: red;
    padding: 12px 0;
  }
}
