.productlist-wrapper {
  &__card-two {
    width: 43%;
  }

  &__card-one {
    margin-top: -3%;
    width: 85%;
  }

  .view-btn {
    padding: 18% 0% !important;
    min-width: 10% !important;
  }

  .active-button {
    background-color: rgb(197, 190, 190) !important;
    font-weight: bold !important;
  }
}
