.productlist-wrapper {
  background-color: white;
  text-align: center;
  @include flex-container;
  align-items: flex-start;
  flex-wrap: wrap;
  // @include grid-container;
  // grid-template-columns: 50% 50%;
  padding: 0 2%;
  gap: 10%;
}

@include desktop {
  .productlist-wrapper {
    width: 75%;
  }
}
