.productlist-wrapper {
  background-color: white;
  text-align: center;
  @include flex-container;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-left: 6%;
  padding-right: 6%;
  gap: 6%;

  &__card {
    width: 45%;
  }
}

@include desktop {
  .productlist-wrapper {
    width: 75%;
  }
}
