body.light .profile__button {
    background-color: #686868;
}
.profile{
    // background-color: white;
    &__container{
        display: flex;
        justify-content: center;
        max-width: 1295px;
        // margin: auto;
    }
    &__input{
        display: flex;
        flex-direction: column;
        border: none;
        border-bottom: 1px solid rgba(128, 128, 128, 0.3);
        outline:none;
        width: 310px;
        background-color: inherit;
    }
    &__input:hover{
        border-bottom: 1px solid rgba(128, 128, 128, 1);

    }
    &__form{
       
    }
    &__label{
        display: block;
        // font-size: 18px;
        // margin-bottom: 16px;
        padding: 20px 0 10px 0;
    }
    &__checkbox-container{
        // margin-top: 40px;
display: flex;
margin-top: 16px;
justify-content: flex-end;
    }
    &__checkbox-input{
        width: 16px;
        height: 16px;
        margin-right: 20px;
    }
    &__checkbox-label{
        font-size: 12px;
        margin-right: 67px;
    }
    &__birthday{
        // margin-bottom: 78px;
    }
    &__button{
        width: 270px;
        height: 57px;
        background-color: black;
        color: white;
        font-size: 24px;
        margin: 15px 28px 20px 28px;
        border: 0px;
    }
}

@media screen and (min-width: 720px) {

}
@media screen and (min-width: 1023px) {
 
  }
