.filter-wrapper {
  width: 100%;
  text-align: center;
  width: 100%;

  .filter {
    &__checked {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      .checked__item {
        padding: 2px 20px;
        border-radius: 10px;
        margin: 5px;
      }
    }
    &__form {
      display: none;
      &--active {
        display: block;
      }
    }

    &__mob-title {
      padding: 20px;
      display: flex;
      justify-content: space-around;

      button {
        background-color: inherit;
        cursor: pointer;
      }
    }
    &__btn {
      color: $color-mobile;
      font-weight: bold;
      &:hover {
        font-size: large;
      }
    }

    &__slider {
      padding: 0 20px;
      .slider {
        &__element {
          color: $color-mobile;
          .MuiSlider-thumb {
            border-radius: 0;
            width: 4px;
            height: 14px;
          }
        }
        &__title {
          cursor: pointer;
          font-weight: bold;
          text-align: start;
          padding: 20px 0 0 20px;
          text-transform: uppercase;
        }
      }
    }
  }
  .form {
    &__show-pasword {
      width: 20px;
    }
  }

  .checkbox {
    padding: 20px 0 0 40px;
    text-align: start;
    text-transform: capitalize;

    &__title {
      font-weight: bold;
      cursor: pointer;
      text-transform: uppercase;
    }
    &__lable {
      width: fit-content;
      cursor: pointer;
      &:hover {
        color: gray !important;
        &--active {
          text-transform: uppercase;
        }
      }
    }
    &__color {
      padding: 0px 10px;
      border: 0.5px solid $color-mobile;
      border-radius: 100%;
      margin-right: 20px;
    }
  }
}
@include desktop {
  .filter-wrapper {
    width: 34%;
  }
}
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

@media screen and (min-width: 720px) {
  .filter-wrapper {
    .filter {
      &__checked {
        color: $color-desktop;
      }
      &__form {
        display: block;
      }
      &__mob-title {
        display: none;
      }
      &__btn {
        color: $color-desktop;
      }
    }
    .slider {
      &__element {
        color: $color-desktop;
        .MuiSlider-thumb,
        .MuiSlider-track {
          color: $color-desktop;
        }

        .MuiSlider-rail {
          color: grey;
        }
      }
    }
  }
}
