@import "../../ulits/styles/mixins";

.footer-container {
  @include flex-container;

  color: white;
  justify-content: space-between;
}

.footer {
  // position: fixed;
  // bottom: 0;
  // left: 0;
  width: 100%;
  background-color: black;
  // padding-top: 54px;
  padding: 56px 0 36px;

  &__item {
    &__title {
      font-family: "Josefin Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 10px;
      text-transform: uppercase;

      &::after {
        content: url("../../../public/images/arrow-drop-down.svg");
        padding-left: 6px;
        // display: block;
      }
    }

    &__list {
      display: none;
    }
  }
}

@media screen and (min-width: 765px) {
  .footer__item__title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (min-width: 1023px) {
  .footer-container {
    align-items: baseline;
  }
  .footer {
    &__item {
      &__title {
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 39px;

        &::after {
          display: none;
        }
      }

      &__list {
        display: block;

        &-item {
          // font-weight: 400;
          font-size: 18px;
          line-height: 25px;
          margin-bottom: 19px;

          .list-item__link {
            transition: 0.1s;

            &:hover {
              transform: scale(1.03);
              // border-bottom: 1px solid #fff;
            }
          }
        }
      }
    }
  }
}
