.textField__label {
  padding-left: 5px !important;
  color: #fff !important;
  font-family: "Montserrat", sans-serif !important;
}
.textField__label + div > input {
  font-family: "Montserrat", sans-serif !important;
  color: #fff !important;
}
.searchIcon {
  cursor: pointer;
}
.header__account-input {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 10px 0 10px;
}

.header__account-input > svg {
  width: 20px;
  height: 20px;
}
.header__account-form {
  max-width: 150px;
  height: 56px;
  font-size: 10px;
}

@media (max-width: 720px) {
  .header__account-input {
    margin: 0 25px 0 0;
  }
  .header__account-form {
    display: none;
  }
}
