a {
  text-decoration: none;
  display: inline-block;
}

.container {
  min-width: 320px;
  max-width: 1295px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  width: 100%;
  z-index: 2;
  overflow-y: auto;

  &__top-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 12px 0 9px;
    align-items: center;
    position: relative;

    &::before {
      content: "";
      width: 100%;
      height: 1px;
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: rgba(88, 87, 87, 1);
      transform: scaleX(1.1);
    }
  }

  &__categories-container {
    display: flex;
    justify-content: space-between;
    padding: 22px 0;
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;

    &__link {
      transition: 0.2s;
      border-bottom: 1px solid transparent;

      &:focus {
        border-bottom: 1px solid white;
      }
    }
  }

  &__logo-container {
    width: 100%;
    text-align: center;

    &_link {
      display: inline-block;
    }
  }

  &__account-container {
    display: flex;

    &__ico {
      width: 14px;
      height: 14px;
      &-img {
        width: 100%;
        height: 100%;
      }
    }

    &__link {
      margin-right: 25px;
      display: flex;
      align-items: center;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.active-burger {
  position: fixed;
  height: 100%;
  top: 0%;
  left: 0;
  z-index: 10;
}

.burger-menu {
  display: none;

  &__login {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;

    &:after {
      content: "";
      display: block;
      height: 1px;
      width: 80%;
      margin-top: 21px;
      margin-bottom: 32px;

      background-color: rgba(130, 128, 128, 1);
    }
  }

  &__footer_title {
    padding-left: 3px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 14px;

    &_lst-title {
      margin-bottom: 26px;
    }
  }

  &__footer_list {
    margin-bottom: 40px;

    &-item {
      margin-bottom: 12px;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
    }
  }
}

.footer_icons {
  display: flex;
  gap: 26px;
  padding-bottom: 60px;

  &__item {
    height: 24px;
    width: 24px;

    &_img {
      width: 100%;
    }
  }
}

.pages-list__item {
  margin-bottom: 30px;

  &-link {
    transition: 0.2s;

    &:hover,
    :active {
      transform: translateX(3%);
    }
  }

  &.top-item {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
  }

  &.bottom-item {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    &::after {
      content: "❯";
      display: inline-block;
      margin-left: 15px;
      font-size: 12px;
    }
  }

  &:last-child {
    margin-bottom: 66px;
  }
}

.burger-menu_active {
  display: block;
  position: absolute;
  padding-top: 40px;
  top: 120px;
  left: 0;
  height: 80%;
  width: 100%;
}

.header__account-container__text {
  display: none;
}

@media screen and (min-width: 720px) {
  .header__account-container__link {
    margin: 0 35px 0 35px;
  }

  .header__categories-container {
    padding: 25px 0;
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
  }
}

@media screen and (min-width: 1023px) {
  .burger-menu {
    display: none;
  }
  .container {
    padding: 0 25px;
  }
  .container-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .header {
    &__top-content {
      flex-basis: 60%;
    }

    &::before {
      display: none;
    }

    &__account-container__link {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    &__account-container__link:last-child {
      display: none;
    }

    &__account-container__ico:last-child {
      display: none;
    }

    &__account-container__text {
      display: block;
    }

    &__categories-container {
      flex-basis: 40%;
      padding: 0;
      align-items: center;
      justify-content: flex-start;
      gap: 38px;

      &__link {
        border-bottom: 1px solid transparent;
        transition: 0.3s;
      }

      &__link:hover,
      :focus {
        border-bottom: 1px solid white;
      }
    }
  }

  .shopping-bag {
    margin: 0;
  }
}
