//---------- light mode ----------
body.light {
  background-color: $background-light-mode-1 !important;
  color: $color-night-mode !important;
  .header,
  .footer {
    background-color: $background-light-mode-2;
  }
  .header__item--underline {
    border-bottom: 1px solid $color-night-mode;
  }
  .filter__checked {
    background-color: $color-light-mode;
  }
  .filter__form {
    background-color: $color-light-mode;
  }
  .entry__box {
    background-color: $color-light-mode;
  }
  .contact-card__icon {
    fill: $color-night-mode;
  }
  input {
    color: $color-night-mode;
    border-bottom: 1px solid $color-night-mode !important;
  }
  select {
    background-color: inherit !important;
    border-bottom: 1px solid $color-night-mode !important ;
  }
  option {
    color: #000;
  }
}
//---------- night mode ----------
body.dark {
  background-color: $background-night-mode-1 !important;
  color: $color-light-mode !important;
  .header,
  .footer {
    background-color: #071a2f;
  }
  .filter__checked {
    background-color: $background-night-mode-2;
  }
  .filter__form {
    background-color: $background-night-mode-2;
  }
  .entry__box {
    background-color: $background-night-mode-3;
  }
  .checkBoxForm {
    color: $color-light-mode;
  }
  .contact-card__icon {
    fill: $color-light-mode;
  }
  select {
    background-color: inherit !important;
    color: #fff;
  }
  option {
    color: #000;
  }
  input {
    color: $color-light-mode;
  }
}
