.entry {
  padding: 50px 0;
  &__box {
    margin: auto;
    min-width: 320px;
    max-width: 450px;
    color: $color-desktop;
  }
  &__header {
    display: flex;
    flex-direction: row;
    .header {
      &__item {
        padding: 5px;
      }
      #login {
        border-bottom: 1px solid white;
      }
    }
  }
  &__checkbox {
    input {
      accent-color: black;
      width: 22px;
      height: 22px;
    }
    label {
      padding-left: 20px;
      vertical-align: middle;
      vertical-align: 5px;
    }
  }
  &__btn {
    padding-top: 100px;
    width: fit-content;
    margin: 0 auto;

    button {
      padding: 15px 104px;
      background-color: white;
      width: fit-content;
      vertical-align: center;
      border-radius: 0;
      color: black;
      &:hover {
        color: white;
      }
    }
  }
  .header {
    &__item {
      width: 100%;
      text-align: center;
      cursor: pointer;
    }
  }
  &__content {
    padding: 70px 10px;
  }
}

@media screen and (min-width: 720px) {
}
