.entry {
  padding: 50px 0;
  &__box {
    margin: auto;
    min-width: 320px;
    max-width: 450px;
    color: $color-desktop;
  }
  &__text {
    padding-bottom: 70px;
  }

  &__header {
    display: flex;
    flex-direction: row;
    .header {
      &__item {
        padding: 5px;
        &--underline {
          border-bottom: 1px solid white;
        }
      }
      #login {
        border-bottom: 1px solid white;
      }
    }
  }
  &__checkbox {
    padding-top: 55px;
    input {
      accent-color: black;
      width: 22px;
      height: 22px;
    }
    label {
      padding-left: 20px;
      vertical-align: middle;
      vertical-align: 5px;
    }
  }

  .header {
    &__item {
      width: 100%;
      text-align: center;
      cursor: pointer;
    }
  }
  &__content {
    padding: 70px 10px;
  }
}

@media screen and (min-width: 720px) {
}
