
.links{
    background-color: white;
    max-width: 100%;
    min-width: 320px;
    &__welcome{
         font-size: 36px;
        padding: 51px 0 49px 5%;

    }
    &__link-list{
            display: flex;
            justify-content: space-around;
            font-size: 24px;
    }
    &__style{
        margin-bottom: 60px;
        padding: 0 15px 10px 15px ;
        color: gray;
    }
    &__style:hover{
        color: black;
        border-bottom: 1px solid gray;
        font-weight: 700;


    }
}
