
.links{
    max-width: 100%;
    min-width: 320px;
    &__welcome{
        padding: 25px 0 25px 5%;

    }
    &__link-list{
            display: flex;
            justify-content: space-around;
    }
    &__style{
        padding: 0 15px 10px 15px ;
        color: gray;
        
    }
    &__style:hover{
        color: black;
        border-bottom: 1px solid gray;
        font-weight: 700;
    }
    &__text{
        text-align: center;
    }
  
  
}
.active{
    color: black;
    border-bottom: 1px solid gray;
    font-weight: 700;
}

.link-container{
    width: 90%;
    background-color: black;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.icon-container{
    display: flex;
    align-items: center;
    width: 31px;
    height: 29PX;
    margin-right: 15px;
}


@media screen and (min-width: 720px) {

}
@media screen and (min-width: 1023px) {

 .links{
    min-width: 1023px;
    &__welcome{
        padding: 51px 0 49px 6%;

    }
    &__link-list{
        font-size: 24px;
}
 }
  }
