.card-wrapper {
  width: 90%;
  margin-top: 11%;
  margin-bottom: 11%;
  cursor: pointer;
  display: inline-block;

  &__image {
    max-width: 100%;
    height: auto;
  }

  &__name {
    font-size: 1.6vw;
    margin-top: 4%;
    color: black;
  }

  &__price {
    font-size: 1.7vw;
    margin-top: 4%;
    font-weight: bold;
    color: black;
  }
}
